* {
    margin: 0;
    padding: 0;
}

pre {
    font-size: 80%;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(133, 0, 0);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
}

.card h2 {
    text-align: center;
    border-bottom: 5px solid #888888;
    background-color: rgb(170, 0, 0);
    color: white;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
  }

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
    background-color: #e1e1e1;
}